.site-layout-background {
  background: #fff;
}

.ant-menu-item {
  margin: 0px !important;
}

.site-layout-background {
  position: relative;
}

.site-layout-background .ant-input-search {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

.ant-pro-table .ant-card-body {
  padding: 0px !important;
}